html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.game-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gameboard {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    margin: 4rem;
}

.game-stats {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.game-column {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.game-piece {
    border-radius: 5px;
    border: 2px solid black;
    flex: auto;
}

.filled-piece {
    background-color: lightgray;
}

.missed-piece {
    background-color: lightblue;
}

.hit-piece {
    background-color: red;
}